chatbot_n8n_webhook.json
{
  "name": "Chatbot",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "2d00b35a-5225-40ef-b644-912809b74b7e",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "d0284cf5-c43b-41f4-afca-3459b2ab9d78",
      "name": "Webhook",
      "webhookId": "2d00b35a-5225-40ef-b644-912809b74b7e"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.message }}",
        "options": {
          "systemMessage": "You are an expert assistant trained only on the contents of the uploaded data. Your answers must strictly come from the database data. If you are unsure or the data isn’t available, simply reply: \"I couldn't find this in the document.\""
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        220,
        0
      ],
      "id": "a875c95b-69c3-49ca-9dc9-5d26c4eac714",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-3.5-turbo",
          "mode": "list",
          "cachedResultName": "gpt-3.5-turbo"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        200,
        340
      ],
      "id": "7572f36b-8b01-4632-854e-d5bc20fe9e78",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "oqUJEDEQwubhbyQI",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Webhook').item.json.body.sessionId }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        400,
        420
      ],
      "id": "83a730a0-0bd8-4ee1-8cd5-d463b8e4925f",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "ndEEduk8CNuaQjMv",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Extrat the info from the table as a sementic search and return response based on user query by matching the documents.",
        "tableName": "documents",
        "topK": 6,
        "options": {
          "columnNames": {
            "values": {
              "contentColumnName": "content"
            }
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1.3,
      "position": [
        600,
        420
      ],
      "id": "e67e7abd-8e55-4c19-a941-3373022da3a2",
      "name": "Postgres PGVector Store",
      "credentials": {
        "postgres": {
          "id": "ndEEduk8CNuaQjMv",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        680,
        640
      ],
      "id": "d3d6b6c4-cc4b-43ba-8109-193fc92c044b",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "oqUJEDEQwubhbyQI",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        580,
        0
      ],
      "id": "1daae1eb-ac53-4f11-9191-9465b0f9bd6b",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Postgres PGVector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Postgres PGVector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "31a5468d-4be4-4f0d-8226-1ccd406dec52",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "365f3b3879058f171d54c50864199278c8cbe10310bf5fc3e6090c373e66e8eb"
  },
  "id": "U1bafMW5n8yVsXVV",
  "tags": []
}