read_pdf_n8n_webhook.json
{
  "name": "Upload PDF to Supabase",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "114bbf52-8ef7-41f0-9fb1-dc6640e38760",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "73e043fd-3c54-470b-98b6-08097eed2325",
      "name": "Webhook",
      "webhookId": "114bbf52-8ef7-41f0-9fb1-dc6640e38760"
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "=data",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        760,
        20
      ],
      "id": "3cd66b42-cf6d-44ef-aa0f-89b4ba9674a3",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        500,
        0
      ],
      "id": "ac04bec4-5908-42ee-8e52-e1684995683c",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1240,
        280
      ],
      "id": "2da64fb7-3c1b-4bd2-95a3-58b27bd04a3c",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "oqUJEDEQwubhbyQI",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "textSplittingMode": "custom",
        "options": {
          "splitPages": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        1360,
        260
      ],
      "id": "07ee3c65-bcab-48e1-af92-72513b85c9fa",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkSize": 5000,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        1440,
        480
      ],
      "id": "2ff5f148-3310-45c0-b1ec-127af568dfbd",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": "documents",
        "options": {
          "columnNames": {
            "values": {
              "contentColumnName": "=content"
            }
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1.3,
      "position": [
        1260,
        20
      ],
      "id": "0aadc21a-e0f3-44f4-9c7c-0d33a1d24916",
      "name": "Postgres PGVector Store",
      "credentials": {
        "postgres": {
          "id": "ndEEduk8CNuaQjMv",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map(item => {\n  return {\n    json: { text: item.json.text}\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        980,
        20
      ],
      "id": "e31149ca-3b0a-471a-957c-da74670b0ec8",
      "name": "return PDF Text"
    },
    {
      "parameters": {
        "jsCode": " \nlet results = [];\n\nfor (const item of items) {\n  if (!item.binary) continue; \n\n  for (const key of Object.keys(item.binary)) {\n    results.push({\n      json: {\n        filename: item.binary[key].filename,\n      },\n      binary: {\n        data: item.binary[key]\n      }\n    });\n  }\n}\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        0
      ],
      "id": "ced1d885-38a8-4715-b4ee-123e25cab9c0",
      "name": "Convert files to array"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"upload\": \"success\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1640,
        -120
      ],
      "id": "757e628e-330d-4194-8b2b-66962f882c90",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Convert files to array",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "return PDF Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Postgres PGVector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Postgres PGVector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Postgres PGVector Store": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "return PDF Text": {
      "main": [
        [
          {
            "node": "Postgres PGVector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert files to array": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "de8d95f4-fb69-4c14-adc6-f5599379b8fc",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "365f3b3879058f171d54c50864199278c8cbe10310bf5fc3e6090c373e66e8eb"
  },
  "id": "oCh108zwdtrEQGnH",
  "tags": []
}